body {
  background-color: #0f0f0f;
  color: whitesmoke;
}
.dashboard-layout {
  display: flex;
  min-height: 100vh;
  background-color: #0f0f0f;
}

.sidebar {
  width: 300px;
  background-color: #0f0f0f;
  border-right: 1px solid #000;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #0f0f0f;
}

.logo-holder {
  background-color: #0f0f0f;
}
.sidebar-nav li {
  border: #0f0f0f solid 1px;
  width: 100%;
  background-color: #1e1e1e;
}

.sidebar-nav a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  display: block;
  width: 100%;
  font-size: larger;
}

a:hover {
  background-color: #748c24;
}

a:active {
  background-color: #d8ff3d;
}

.dashboard-content {
  flex: 1;
  background-color: #0f0f0f;
}

.logout-container {
  width: 100%;
}

.logout {
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px;
  font-size: larger;
  border: #0f0f0f solid 1px;
  background-color: #1e1e1e;
  color: white;
}

.logout:hover {
  background-color: #748c24;
  display: block;
  box-sizing: border-box;
  width: 100%;
}